@model List<Company>

<div class="card col-12 shadow border-0 mt-0 py-3">
    <div class="card-header bg-primary bg-gradient shadow border-0 mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Company List</h2>
            </div>
        </div>
    </div>
    <div class="text-end pt-3 px-4">
        <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Create New Company
        </a>
    </div>

    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Street Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Postal Code</th>
                    <th>Phone Number</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}